.input__wrapper {
  display: flex;
  position: relative;
}
.input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  width: 24px;
  height: 24px;
}

.input {
  color: var(--black);
  font-family: var(--font-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  box-shadow: var(--primary-shadow-medium);
  padding: 12px 20px;
  background-color: var(--white);
  border: 3px solid var(--black);
  border-radius: var(--border-radius-medium);
}

.input:focus {
  background-color: var(--blueLight);
}
