.button {
  text-align: center;
  color: var(--black);
  font-family: var(--font-accent);
  font-weight: 600;
  border-radius: var(--border-radius-medium);
  border: 3px solid var(--black);
  box-shadow: var(--primary-shadow-medium);
  cursor: pointer;
  text-decoration: none;
}

.button--medium {
  font-size: 18px;
  padding: 12px 28px;
}

.button--large {
  font-size: 31px;
  padding: 20px 36px;
}

.button--primary {
  background: var(--yellow);
}
.button--secondary {
  background: var(--white);
}

.button:focus,
.button:hover {
  opacity: 0.7;
}
