.repository-card {
  max-width: 400px;

  border: 1px solid var(--black);
  border-radius: var(--border-radius-medium);
  background: var(--white);
  padding: 20px 32px;
  position: relative;
  cursor: pointer;
}

.repository-card__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 16px;
}

.repository-card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.repository-card__name {
  font-size: 18px;
  font-weight: 700;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--black);
  background: var(--yellow);
  padding: 0 4px;
  display: inline-block;
  margin: 0;
}

.repository-card__description {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
