.repositories-list {
  position: relative;
  padding-bottom: 52px;
}

.repositories-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.repositories-list__title {
  font-size: 22px;
  font-weight: 700;
}

.repositories-list__link {
  font-size: 18px;
  font-weight: 400;
  padding-right: 36px;
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.repositories-list__link::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url("./../../assets/images/arrow-right.svg");
  background-repeat: no-repeat;
}

.repositories-list__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

@media screen and (max-width: 992px) {
  .repositories-list__header {
    margin-bottom: 20px;
  }

  .repositories-list__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 576px) {
  .repositories-list__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .repositories-list__link {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
