.avatar {
  filter: contrast(120%) grayscale(100%);
  border-radius: 50%;
  border: 2px solid var(--black);
}

.avatar__placeholder {
  font-size: 28px;
  font-weight: 700;
  width: 80px;
  height: 80px;

  background-color: var(--background-color);
  border-radius: 50%;
  border: 2px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar--medium {
  width: 80px;
  height: 80px;
}

.avatar--large {
  width: 207px;
  height: 207px;
  font-size: 38px;
}

@media screen and (max-width: 992px) {
  .avatar--large {
    width: 130px;
    height: 130px;
    font-size: 38px;
  }
}
