@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");

@font-face {
  font-family: "Clash Display";
  src: url("./../src/assets/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 100 1000;
}

:root {
  --font-primary: "Cabin", sans-serif;
  --font-accent: "Clash Display", sans-serif;

  --border-radius-large: 25px;
  --border-radius-medium: 13px;
  --border-radius-small: 3px;

  --padding-left-right: 28px;

  --blue: #91a8ec;
  --blueLight: #c0cffc;
  --yellow: #f6ca46;
  --pink-dark: #ea4c89;
  --pink: #ff91e8;
  --green: #70cab1;
  --white: #ffffff;
  --black: #272725;

  --primary-shadow-medium: 1px 3px 0px 0px var(--black);
  --primary-shadow-large: 15px 13px 0px 0px var(--black);
}

*:focus-visible {
  outline: 4px solid var(--color-accent);
  outline-offset: 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--white);
  font-size: 16px;
  color: var(--black);
}
